.container {
  max-width: 920px;
  margin: 20px auto;
}

.container .how-it-works {
  text-align: right;
  margin: 20px 0;
  display: block;
}

.container .how-it-works button {
  font-size: 11px;
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
  border: 2px solid #174272;
}

.container .wallet {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}

.container p {
  font-size: 18px;
  text-align: center;
  color: #dedede;
}

button {
  border: 1px solid #174272;
  color: #fff;
  font-size: 16px;
  background: #174272;
  padding: 13px 45px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

.connect {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.connect button {
  padding: 10px 25px;
  font-size: 14px;
}

@media (max-width: 920px) {
  .container {
    margin: 20px;
  }
}
